html {
    scroll-behavior: smooth;
    background: linear-gradient(black, #0c0c0b); 
}

body {
    font-family: Poppins;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #050520;
    height: 65px;
    padding-right: 30px;
    padding-top: 6px;
    padding: auto;
    align-content: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 63px 56px 60px;
    grid-column-gap: 20px;
    justify-content: right;
}

nav ul li a {
    text-decoration: none;
    color: #eee8aa;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#welcome-section {
    height: 100vh;
    background: rgba(0, 0, 0, 0.8) url(portfolio/pexels-photo-3648850.webp);
    background-size: cover;
    background-repeat: round;
    background-blend-mode: darken;
    width: 100%;
    margin: 0;
    color: silver;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#projects {
    box-shadow: 0 0 0 100vmax #9b9879;
    clip-path: inset(0 -100vmax);
    background: #9b9879;
    width: 100%;
    margin: 0;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    font-size: 26px;
    margin-bottom: 32px;
    color: #050520;
}

.project_tiles {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}

#project-img {
    width: 450px;
    height: 250px;
}

.project-tile {
    display: flex;
}

.project-tile:hover {
    position: relative;
    bottom: 10px;
}

.project-tile a p {
    padding-left: 20px;
}

#project-link {
    text-decoration: none;
    color: #9b9879;
    background: #18182c;
    justify-items: center;
}

#icon-logo {
    width: 30px;
    height: 30px;
    margin-left: 13px;
}

#icon-netlify {
    width: 30px;
    height: 30px;
    background: #eee8aa;
    margin-left: 10px;
}

.icons {
    color: #eee8aa;
    text-decoration: none;
}

.icons:hover {
    text-decoration: underline;
    position: relative;
    top: 5px;
}

#profile-link div {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-column-gap: 80px;
    align-content: center;
    justify-content: center;
}

#profile-link h2 {
    font-size: 30px;
}

#profile-link {
    margin: auto;
    background-color: #0c0c0b;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee8aa;
}


/** mobile-phones **/
@media (max-width: 530px) {
    #welcome-section {
        width: 560px;
    }

    #project-img {
        width: 350px;
        height: 180px;
    }

    .project_tiles {
        margin: auto;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    } 

    #projects {
        width: 500px;
        justify-items: center;
        margin: 20%;
    }

    .intro {
        width: 400px;
    }

    #profile-link {
        width: 500px;
        align-content: center;
        justify-content: center;
    }

    #profile-link h2 {
        padding-left: 65px;
    }

    #profile-link div {
        width: 400px;
        grid-column-gap: 40px;
        padding-left: 23%;
        padding-bottom: 60px;
    }
}

@media (max-width: 415px) {
    #project-img {
        width: 300px;
        height: 180px;
    }

    #project-link {
        display: grid;
        grid-template-columns: 310px auto;
        grid-column-gap: 10px;
        background-color: #9b9879;
    }

    #project-link p {
        color: #050520;
        font-size: 16px;
        justify-self: center;
        align-self: center;
    }

    .project-tile:hover {
        text-decoration: #18182c underline;
    }
}